* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  background-color: #16161d;
}

.nav {
  height: 40px;
  width: 100%;
  background-color: #21b11e;
  font-size: 22px;
}

.nav ul {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav ul li {
  display: inline;
}

.nav ul li a {
  padding: 2px 10px;
  display: inline-block;
  color: #16161d;
  text-decoration: none;
}

.nav ul li a:hover {
  background-color: #d6d6d65d;
  color: #16161d;
  border-bottom: 2px solid #16161d;
}

.img-nav {
  cursor: default;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 5px;
}

.container {
  background: #16161d;
  height: 100%;
  color: #ffffff;
}

.title {
  margin-top: 12vh;
  margin-left: 5vw;
  font-size: 30px;
  line-height: 1.25em;
  width: 50%;
}

.title h1 {
  font-weight: 400;
}

.title small {
  font-weight: 300;
}

.texto-central {
  margin-top: 10vh;
  margin-left: 6vw;
  font-size: 48px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  float: left;
}

.verde {
  color: #21b11e;
}

.bottom {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 5vw;
  align-items: flex-end;
  height: 15vh;
  font-weight: 300;
  font-size: 20px;
}

.img-org {
  width: 500px;
  margin-left: 5vw;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #16161d;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #157713;
  border-radius: 5px;
}