html, body, .container-fluid {
  background-color: #16161d;
  height: 100%;
}

.card {
  max-width: 270px;
  margin-bottom: 60px;
  overflow: auto;
}

.card-body {
  background-color: #aaa9a9;
  color: #16161d;
}

.title {
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 7.5vh;
  color: #ffffff;
}