html, body, .container-fluid {
  background-color: #16161d;
  height: 100%;
}

.container {
  background-color: #16161d;
  height: 100%;
}

.card {
  max-width: 300px;
  margin-bottom: 60px;
}

.card-body {
  background-color: #cccccc;
  color: #16161d;
}

.title {
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 7.5vh;
  color: #ffffff;
}

.card a {
  color: #16161d;
}

.card a:hover {
  color: #16161d;
  text-decoration: none;
}