.container-fluid {
  height: 42vw;
}

.carousel {
  width: 65vw;
}

.title {
  margin-top: 20vh;
  margin-bottom: 5vh;
  text-align: center;
  color: #16161d;
}

img {
  border-radius: 8px;
  object-fit: cover;
}