.title {
  text-align: center;
  font-size: 4vw;
  margin-top: 12vh;
  margin-bottom: 8%;
}

.card {
  max-width: 300px;
  margin-bottom: 60px;
  overflow: hidden;
}

.card a {
  color: #16161d;
}

.card a:hover {
  color: #16161d;
  text-decoration: none;
}

.card img {
  transition: all 0.5s;
}

.card img:hover {
  transform: scale(1.05);
}

.btn-inscrever {
  background-color: #21b11b;
  border-radius: 6px;
  border: none;
  width: 50%;
  height: 40px;
  margin-left: 25%;
  transition: font-size 0.1s linear;
}

.btn-inscrever, .btn-inscrever:focus, .btn-inscrever:active {
  outline: none;
}

.btn-inscrever:hover {
  font-size: 17px;
  transition: font-size 0.1s linear;
}