.navbar {
  background-color: #21b11e;
  font-size: 20px;
  color: #16161d;
}

.navbar a {
  color: #16161d;
  text-decoration: none;
}

.navbar a:hover {
  color: #e6e6e6;
}

.navbar button:focus, .navbar button:active, .navbar button {
  outline: none;
}