/* Chrome, Edge Chromium, Opera, Safari, etc */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #16161d;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #157713;
  border-radius: 5px;
}

/* Firefox, Tor Browser, outros derivados */

html {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #157713 #16161d;
}